
## <summary>policy for rocketfundcoin</summary>


########################################
## <summary>
##	Transition to rocketfundcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`rocketfundcoin_domtrans',`
	gen_require(`
		type rocketfundcoin_t, rocketfundcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, rocketfundcoin_exec_t, rocketfundcoin_t)
')


########################################
## <summary>
##	Execute rocketfundcoin server in the rocketfundcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rocketfundcoin_initrc_domtrans',`
	gen_require(`
		type rocketfundcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, rocketfundcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search rocketfundcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rocketfundcoin_search_lib',`
	gen_require(`
		type rocketfundcoin_var_lib_t;
	')

	allow $1 rocketfundcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read rocketfundcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rocketfundcoin_read_lib_files',`
	gen_require(`
		type rocketfundcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, rocketfundcoin_var_lib_t, rocketfundcoin_var_lib_t)
')

########################################
## <summary>
##	Manage rocketfundcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rocketfundcoin_manage_lib_files',`
	gen_require(`
		type rocketfundcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, rocketfundcoin_var_lib_t, rocketfundcoin_var_lib_t)
')

########################################
## <summary>
##	Manage rocketfundcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rocketfundcoin_manage_lib_dirs',`
	gen_require(`
		type rocketfundcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, rocketfundcoin_var_lib_t, rocketfundcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a rocketfundcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`rocketfundcoin_admin',`
	gen_require(`
		type rocketfundcoin_t;
		type rocketfundcoin_initrc_exec_t;
		type rocketfundcoin_var_lib_t;
	')

	allow $1 rocketfundcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, rocketfundcoin_t)

	rocketfundcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 rocketfundcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, rocketfundcoin_var_lib_t)

')

